@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Preahvihear&family=Roboto&family=Satisfy&family=Space+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
  background-color: #e7d1b1;
}
.menuoption a{
    color: #e7d1b1;
    text-decoration: none;
    font-size: 2rem;
    padding:1rem;
    margin:0.8rem;
    background-color: #112A46;
    margin-top:1.5rem;
}
.menuoption a:hover,.menuoption a:focus{
    text-decoration: underline #e7d1b1 0.5rem ;
    background:#112A46;
    border-radius: 1rem;
    padding: 1rem;
    color: #e7d1b1;
    transition: 1s;
    margin-top: 0.8rem;
}
.menuoption{
    text-align: center;
    display:inline-block;
    margin-top: 2rem;
}
.company-name{
    color:#e7d1b1;
    font-family: 'Space Mono', monospace;
    text-align: center;
    margin: 125px 10vw;
    font-size: 5rem;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #18375c;
}
.company-name:hover,.company-name:focus{
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0) );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 1s;
    border-radius: 1rem;
    box-shadow: 1rem 2rem 4rem #ACC8E5;
    color: #112A46;
   
}
.space1{
    height: 10px;
    width: 25%;
    background-color: #112A46;
    margin:20px auto;
    border-radius: 25px;
    margin-top: 50px;
}
.about{
    color: #112A46;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    min-height: 50vh;
    margin-top: 45px;
}
.about:hover{
    font-size: 3rem;
    text-decoration: underline 1rem #112A46;
    transition: 0.75s;
}
.img-1{
    background-size: auto;
    margin-bottom: 0px;
}
@keyframes example{
    0%{
       transform: translateX(0);
    }
    50%{
        transform: translateX(68vw);
    }
    100%{
       transform: translateX(0);
    }
}
.move{
    width: 15vw;
    height: 20vh;
    animation: example 10s linear infinite;
    padding-bottom: 0;
}
.move-pic{
    object-fit: cover;
    height: inherit;
    width: inherit;
}

.p1{
    text-decoration: transparent;
    font-size: 1.5rem;
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0) );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    line-height: 3rem;
    text-align: center;
    color: black;
    padding: 2rem;
    text-transform: capitalize;
    margin: auto 5vw;
    border-radius: 1.5rem;
    box-shadow: 1rem 2rem 4rem #ACC8E5;
    
}
.p1:hover{
    transform: translateY(-2.5rem);
    box-shadow: 1rem 2rem 5.5rem #ACC8E5;
    transition: 3s;
}
.feature{
    color: #112A46;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 50px;
}
.feature:hover{
    font-size: 3rem;
    text-decoration: underline 1rem #112A46;
    transition: 0.75s;
}
.price{
    color: #112A46;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    min-height: 50vh;
    margin-top: 50px;
}
.price:hover{
    font-size: 3rem;
    text-decoration: underline 1rem #112A46;
    transition: 0.75s;
}
.contact{
    color: #112A46;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    min-height: 50vh;
    margin-top: 50px;
}
.contact:hover{
     font-size: 3rem;
    text-decoration: underline 1rem #112A46;
    transition: 0.75s;
}
.space2{
    height: 10px;
    width: 25%;
    background-color: #112A46;
    margin:20px auto;
    border-radius: 25px;
}
.space3{
    height: 10px;
    width: 25%;
    background-color: #112A46;
    margin:20px auto;
    border-radius: 25px;
}
.space4{
    height: 10px;
    width: 25%;
    background-color: #112A46;
    margin:20px auto;
    border-radius: 25px;
}
.contact-detail,.branch,.direction,.enquiry{
    text-align: center;
    color:#112A46;
    font-size: 1.75rem;
}
.contact-detail li a{
    cursor: pointer;
}
.contact-detail li a:hover{
    background-color: #ACC8E5;
    color: #112A46;
    border-radius: 12px;
    transition: 0.75s;
    font-size: 1.5rem;
}
.space5{
    height: 10px;
    width: 25%;
    background-color: #112A46;
    margin:20px auto;
    border-radius: 25px;
}
.direction,.branch{
    font-size:2.5rem;
    padding:1.5rem;
    margin-top:50px;
}
.iframe{
    text-align: center;
   border: 5px solid #112A46;
   margin: 5rem 9vw;
   background-color: #ACC8E5;
   height: 50vh;
   object-fit: cover;
   box-shadow: 1rem 1rem 5rem #ACC8E5;
   
}
.map{
    align-self: auto;
    object-fit: cover;
    height: 48.5vh;
    width: 80vw;
   
}
.enquiry{
    margin-top:2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
input{
    font-size: 1.5rem;
    color: #112A46;
    text-align: center;
    margin:1rem auto;
    border-radius: 0.5rem;
    
}
label{
    font-size: 1.5rem;
    color: #112A46;
    text-align: center;
    margin:1rem auto;
    font-weight: 700;
}
.inputdiv{
    white-space: nowrap;
    border: 2px solid #e7d1b1;
    margin: 90px 10vw;
    box-shadow: 1rem 2rem 2.5rem ;
    border-radius: 1.5rem ;
}
.inputdiv:hover{
   transform: translateY(-20px);
   transition: 1s;
}
form{
    text-align: center;
    color: #18375c;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #18375c;
    color: #e7d1b1;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  #myBtn:hover {
    background-color: #e7d1b1;
    color: #112A46;
    border: 1px #18375c;
}
#myBtn.show {
    display: block;
}
@media screen and (max-width: 768px) {
    #nav-menu-btn {
      display: block;
      color: #18375c;
      padding: 1rem;
      margin: 2rem auto;
      background: radial-gradient(#ACC8E5,#18375c);
    }
    .menu {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      cursor: pointer;
    }
    .menu li {
      margin: 0;
      padding: 0;
    }
    .menu li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #112A46;
      background-color: #ACC8E5;
  }
  #menu.active {
    display: block;
  }
  
  #menu li.active {
    opacity: 1;
  }
  .company-name{
    font-size: 2rem;
  }
  .move{
    width: 30vw;
    height: 15vh;
    animation: example 7s linear infinite;
    padding-bottom: 0px;
}
.company-name:hover,.company-name:focus{
    background:none;
    backdrop-filter: none;
    -webkit-backdrop-filter:none;
    transition: none;
    border-radius: 0;
    box-shadow: none;
    color: none;
    background-color: #112A46;
    color: #e7d1b1;
}
#nav-menu-btn:hover,#nav-menu-btn:focus{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 15px;
}
}
@media screen and (min-width: 770px) {
    .menu{
        text-align: center;
    }
    .menubtn{
        display: none;
    }
}
.adv{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin:1.5rem auto;
}
.adv a {
    cursor: pointer;
    background-color: #ACC8E5;
}
.adv a:hover{
    text-decoration: underline;
}
.giphy-embed{
   display: block;
   margin: auto;
}
.gif{
   background-color: #e7d1b1;
}
.search{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.container{
    width:75vw;
    height: 60vh;
    background-color: #ACC8E5;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 3rem rgb(0, 0, 0);
    overflow-y: scroll;
}
.container form{
    padding: 0.5rem;
    width: 100%;
    border:2px solid #18375c;
    border-radius: 2rem 2rem 0 0 ;
}
.container::-webkit-scrollbar{
    display: none;
}
input{
    font-size: 1.4rem;
    text-align: left;
}
.product{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
}
.product img{
    width:70px ;
    height: 70px;
    object-fit: cover ;
}
.product .p-detail h2{
    color:#18375c;
    font-size: 1.5rem;
    padding-left: 1rem;
}
